<%= form_for (@cliente) do |form| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col s6">
    <p>
      <%= form.label :Nombre %>
      <%= form.text_field :Nombre %>
    </p>
    <p>
      <%= form.label :Teléfono %>
      <%= form.text_field :Telefono %>
    </p>
  </div>

  <div class="col s6">
    <p>
      <%= form.label :Dirección %>
      <%= form.text_field :Direccion %>
    </p>

    <p>
      <%= form.label :Correo %>
      <%= form.text_field :Correo %>
    </p>
  </div>
</div>

<div class="col s12" align="right">
  <div class="actions">
    <%= form.submit "Registrar", class: "btn" %>
  </div>
</div>
<% end %>
