<div class="hidden" hidden="hidden">
	<input type="text" id="token" value="<%= @c_user.token.token %>">
    <input type="text" id="usuario" value="<%= @c_user.id %>">
    <input type="text" id="urloperacione" value="<%= api_v1_operaciones_path(@siniestro, @report_dano)%>">
</div>

<div class="row">
      <div class="col s12">
            <blockquote><h3>Reporte de daños</h3> <h6>Orden:<%= @siniestro.noOrden %> </h6></blockquote>
      </div>
 </div>
 <div class="row">
		<h5 style="background: #bbdefb;">Datos siniestro</h5>
		<div class="col s4" style="text-align: center;">
			<p>
				<strong>Siniestro: </strong><%= @siniestro.noSiniestro %><br />
				<strong>Asegurado: </strong><%= @siniestro.cliente.Nombre %><br />
				<strong>Modelo: </strong> <%= @siniestro.auto.Modelo %><br />
			</p>
		</div>
		<div class="col s4" style="text-align: center;">
			<p>	
				<strong>Asesor: </strong><%= @siniestro.usuario.nombre %><br />
				<strong>Serie: </strong><%= @siniestro.auto.Vin %><br />
				<strong>Año: </strong><%= @siniestro.auto.Anio %><br />
			</p>
		</div>
		<div class="col s4" style="text-align: center;">
			<p>
				<strong>Aseguradora: </strong><%= @siniestro.aseguradora.nombre %><br />
				<strong>Marca: </strong><%= @siniestro.auto.Marca %><br />	
				<strong>Placas: </strong><%= @siniestro.auto.Placas %><br />
			</p>
		</div>

	<div class="row">
		<div class="col s6">
			<div class="row">
				<hr class="linea" style="color: #bbdefb">
		    	<div class="col s4">
			    	<p>
			      		<%= label :direccion, "Dirección:" %>
			            <input value="<%= @siniestro.report_dano.direccion %>" id="direccion" type="text" class="validate">
			      	</p>

			      	<p>
			      		<%= label :noCilindro, "No. de cilindros:" %>
			            <input value="<%= @siniestro.report_dano.noCilindro %>" id="noCilindro" type="text" class="validate">
			      	</p>

			      	<p>
			      		<%= label :medidaLlanta, "Medida de llanta:" %>
			            <input value="<%= @siniestro.report_dano.medidaLlanta %>" id="medidaLlanta" type="text" class="validate">
			      	</p>

			      	<p>
			      		<%= label :tipoFaro, "Tipo de faro:" %>
			            <input value="<%= @siniestro.report_dano.tipoFaro %>" id="tipoFaro" type="text" class="validate">
			      	</p>
		        </div>

				<div class="col s4" class="input-field">
		            <p>
		                <%= label :transmision, "Transmisión:" %>
		                <input value="<%= @siniestro.report_dano.transmision %>" id="transmision" type="text" class="validate">
		            </p>

		            <p>
		                <%= label :tipoAsientos, "Tipo de asientos:" %>
		                <input value="<%= @siniestro.report_dano.tipoAsientos %>" id="tipoAsientos" type="text" class="validate">
		            </p>

		            <p>
		          		<%= label :eleCristal, "Elevadores de cristal:" %>
		                <input value="<%= @siniestro.report_dano.eleCristal %>" id="eleCristal" type="text" class="validate">
		          	</p>

		          	<p>
		          		<%= label :farosNie, "Faros niebla:" %>
		                <input value="<%= @siniestro.report_dano.farosNie %>" id="farosNie" type="text" class="validate">
		          	</p>
				</div>

				<div class="col s4" class="input-field">
		          	<p>
		          		<%= label :noPuertas, "No. de puertas:" %>
		                <input value="<%= @siniestro.report_dano.noPuertas %>" id="noPuertas" type="text" class="validate">
		          	</p>

		          	<p>
		          		<%= label :tipoRin, "Tipo rin:" %>
		                <input value="<%= @siniestro.report_dano.tipoRin %>" id="tipoRin" type="text" class="validate">
		          	</p>

		          	<p>
		          		<%= label :tipoRin, "Tipo espejos:" %>
		                <input value="<%= @siniestro.report_dano.tipoEspejo %>" id="tipoEspejo" type="text" class="validate">
		         	</p>

		          	<p>
		          		<%= label :golpeMag, "Magnitud del golpe:" %>
		                <%= select "report_dano", "golpeMag", options_for_select([['Leve', 1], ['Moderado', 2], ['Grave', 3], ['Complejo', 4]], @report_dano.golpeMag), id: "golpeMag" %>
		          	</p>
        		</div>
			</div>
		</div>

	<div class="col s6">
			<div class="row">
				<hr class="linea" style="color: #bbdefb">
				<h5 style="background: #bbdefb;">Fotos panorámicas y de serie</h5>

			<div class="col s3" class="input-field">
			  	<p>
			  		<% if @fotos.nil? %>
	                    <%= image_tag "01.png", id: "f1_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 1} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "01.png", id: "f1_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f1_img" %>
	                    <% end %>
	              	<% end %>
			  	</p>
			</div>

			<div class="col s3" class="input-field">
			    <p>
			    	 <% if @fotos.nil? %>
		                <%= image_tag "02.png", id: "f2_img" %>
		          	<% else %>
		                <% f = @fotos.select{|x| x.tipo == 2} %>
		                <% if f[0].nil? %>
		                      <%= image_tag "02.png", id: "f2_img" %>
		                <% else %>
		                      <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f2_img" %>
		                <% end %>
		          	<% end %>               
			    </p>
			</div>

			<div class="col s3" class="input-field">
				<p>
					<% if @fotos.nil? %>
	                    <%= image_tag "03.png", id: "f3_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 3} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "03.png", id: "f3_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f3_img" %>
	                    <% end %>
	              	<% end %>
				</p>
			</div>

			<div class="col s3" class="input-field">
				<p>
					<% if @fotos.nil? %>
	                    <%= image_tag "04.png", id: "f4_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 4} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "04.png", id: "f4_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id:"f4_img" %>
	                    <% end %>
	              	<% end %>
				</p>
			</div>

			<div class="col s4" class="input-field">
				<p>
					<% if @fotos.nil? %>
	                    <%= image_tag "05.png", id: "f5_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 5} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "05.png", id: "f5_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f5_img" %>
	                    <% end %>
	              	<% end %>
				</p>
			</div>

			<div class="col s4" class="input-field">
				<p>
					 <% if @fotos.nil? %>
	                    <%= image_tag "06.png", id: "f6_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 6} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "06.png", id: "f6_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f6_img" %>
	                    <% end %>
	              	<% end %>
				</p>
			</div>

			<div class="col s4" class="input-field">
				<p>
					 <% if @fotos.nil? %>
	                    <%= image_tag "27.png", id: "f27_img" %>
	              	<% else %>
	                    <% f = @fotos.select{|x| x.tipo == 27} %>
	                    <% if f[0].nil? %>
	                          <%= image_tag "27.png", id: "f27_img" %>
	                    <% else %>
	                          <%= image_tag f[0].foto.variant(resize: "75X75"), id: "f27_img" %>
	                    <% end %>
	              	<% end %>
				</p>
			</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col s12" style="text-align: right;">
			<button type="submit" class="btn" id="repotdanosGuardar">
		     	Guardar                        
			</button>
		</div>
	</div>

<div class="row">
		<div class="col s12" >
			<h5 style="background: #bbdefb;">Agregar mano de obra</h5>
		</div>

		<div class="col s4" class="input-field">
			<h6>Accion:</h6>
			
			<p>
	      		<label>
	            	<input type="checkbox"  id="trabExterno" type="text" class="validate">
	            	<span>T.o.T</span>
	        	</label>
			</p>
			<p>
				<label>
					<input type="radio" name="tipo" id="reparar" type="text" class="validate">
					<span>Reparar</span>
				</label>
			</p>
			<p>
				<label>
					<input type="radio" name="tipo" id="sustitucion" type="text" class="validate">
					<span>Sustitución</span>
				</label>
			</p>
		</div>
		<div class="col s4" class="input-field" style="text-align: center;">
			<p>
	      		<label>
	      			<span>Mano de obra:</span>
	            	<input id="manoObra" type="text" class="validate">   
	        	</label>
			</p>
		</div>
		<div class="col s4" class="input-field" style="text-align: center;">
			<p>
	      		<label>
	            	<span>Refacción:</span>
	            	<input id="refaccion" type="text" class="validate">
	        	</label>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col s4" style="text-align: center;">
		   	<p>
		    	<label>Hojalateria:</label>
		    	<input id="rdH" name="rdH" class="validate" type="number" step=".001" min="0">
		    </p>
		</div>
		<div class="col s4" style="text-align: center;">
			<p>
		    	<label>Pintura:</label>
		    	<input id="rdP" name="operaciones[]" class="validate" type="number" step=".001" min="0">
		    </p>
		</div>
		<div class="col s4" style="text-align: center;">
			<p>
		    	<label>Mecánica:</label>
		    	<input id="rdM" name="rdM" class="validate" type="number" step=".001" min="0">
		    </p>
		</div>
	</div>

	<div class="row">
		<div class="col s12" style="text-align: right;">
			<button type="submit" class="btn" id="manobraGuardar">
		     	Guardar                        
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col s12" >
			<h5 style="background: #bbdefb;">Listado de mano de obra</h5>
		</div>
			<table id="tablamanobra">
				<thead>
					<tr>
						<th>Operación</th>
						<th>Mano de obra</th>
						<th>I. Hojalatero</th>
						<th>I. Pintor</th>
						<th>I. Mecánico</th>
						<th>T.o.T</th>
						<th>Acciones</th>
					</tr>
				</thead>
			</table>
	</div>

	<div class="row">
		<div class="col s12" >
			<h5 style="background: #bbdefb;">Listado de mano de refacciones</h5>
		</div>
			<table id="tablarefacciones">
				<thead>
					<tr>
						<th>Operación</th>
						<th>Refacción</th>
						<th>Costo C.</th>
						<th>Precio V.</th>
						<th>Estatus</th>
						<th>Acciones</th>
					</tr>
				</thead>
			</table>	
	</div>

	<div class="row">
		<div class="col s12" >
			<h5 style="background: #bbdefb;">Firmas</h5>
		</div>
	    	<div class="col s3" style="text-align: center;">
	    		<b>Asesor: </b>
		    	<input type="file" accept="image/*" id="firmaasesor" hidden="hidden" class="'signature_pad_input'">
	                <div class="signature_pad text-center">
	                    <div class="signature_pad_body">
	                        <canvas id="firma_asesor"></canvas>
	                    </div>
	                    <div class="signature_pad_footer">
	                        <button type="button" id="borrar_asesor" class="btn btn-default signature_pad_clear">Limpiar</button>
	                    </div>
	                </div>
	        </div>
	        <div class="col s3" style="text-align: center;">
	    		<b>Pintor: </b>
		    	<input type="file" accept="image/*" id="firmapintor" hidden="hidden" class="'signature_pad_input'">
	                <div class="signature_pad text-center">
	                    <div class="signature_pad_body">
	                        <canvas id="firma_pintor"></canvas>
	                    </div>
	                    <div class="signature_pad_footer">
	                        <button type="button" id="borrar_pintor" class="btn btn-default signature_pad_clear">Limpiar</button>
	                    </div>
	                </div>
	        </div>
	        <div class="col s3" style="text-align: center;">
	    		<b>Hojalatero: </b>
		    	<input type="file" accept="image/*" id="firmahojala" hidden="hidden" class="'signature_pad_input'">
	                <div class="signature_pad text-center">
	                    <div class="signature_pad_body">
	                        <canvas id="firma_hojala"></canvas>
	                    </div>
	                    <div class="signature_pad_footer">
	                        <button type="button" id="borrar_hoja" class="btn btn-default signature_pad_clear">Limpiar</button>
	                    </div>
	                </div>
	        </div>
	        <div class="col s3" style="text-align: center;">
	    		<b>Mecánico: </b>
		    	<input type="file" accept="image/*" id="firmamecanico" hidden="hidden" class="'signature_pad_input'">
	                <div class="signature_pad text-center">
	                    <div class="signature_pad_body">
	                        <canvas id="firma_mecanico"></canvas>
	                    </div>
	                    <div class="signature_pad_footer">
	                        <button type="button" id="borrar_meca" class="btn btn-default signature_pad_clear">Limpiar</button>
	                    </div>
	                </div>
	        </div>
	</div>

	<script>
		var reparacion =  <%= raw @reparacion.to_json %>;
		var sustitucion =  <%= raw @sustitucion.to_json %>;

		$(document).ready(function(){
			llenarTablas();
		});
	</script>