<% if usuario_signed_in? %>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Editar cuenta", edit_usuario_registration_path %></li>
  <li><%= link_to "Cerrar Sesi贸n", destroy_usuario_session_path, method: :delete %></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "Editar cuenta", edit_usuario_registration_path %></li>
  <li><%= link_to "Cerrar Sesi贸n", destroy_usuario_session_path, method: :delete %></li>
</ul>
<% if @c_user.asesor? %>
<ul id="dropdown3" class="dropdown-content">
  <li><%= link_to "Registrar siniestro", new_siniestro_path %></li>
  <li><%= link_to "Lista siniestro", siniestros_path%></li></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
  <li><%= link_to "Registrar siniestro", new_siniestro_path %></li>
  <li><%= link_to "Lista siniestro", siniestros_path%></li></li>
</ul>
<% end %>
<% end %>

<nav>
  <div class="nav-wrapper">
    <%= link_to "Pits Automotriz", root_path, class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if usuario_signed_in? %>
        <% if @c_user.asesor? %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Sinestros<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Cuenta<i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <li><%= link_to "Iniciar sesi贸n", new_usuario_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if usuario_signed_in? %>
      <% if @c_user.asesor? %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown4">Sinestros<i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Cuenta<i class="material-icons right">arrow_drop_down</i></a></li>
  <% else %>
    <li><%= link_to "Iniciar sesi贸n", new_usuario_session_path %></li>
  <% end %>
</ul>