<% if usuario_signed_in? %>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Editar cuenta", edit_usuario_registration_path %></li>
  <li><%= link_to "Cerrar Sesión", destroy_usuario_session_path, method: :delete %></li>
</ul>
<% if @c_user.asesor? %>
<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "Registrar siniestro", new_siniestro_path %></li>
  <li><%= link_to "Lista siniestro", siniestros_path%></li>
</ul>
<% end %>
<ul id="dropdown3" class="dropdown-content">
  <li><%= link_to "Usuarios", operarios_path%></li>
  <li><%= link_to "Clientes", clientes_path%></li>
  <li><%= link_to "Proveedores", provedors_path%></li>
</ul>
<% end %>

<nav>
  <div class="nav-wrapper">
    <%= link_to "Pits Automotriz", root_path, class: "brand-logo" %>
    <a data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!-- Navbar oculto -->
    <ul id="side-nav" class="sidenav">
      <% if usuario_signed_in? %>
        <% if @c_user.asesor? %>
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Siniestros<i class="material-icons">arrow_drop_down</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><%= link_to "Registrar siniestro", new_siniestro_path %></li>
                  <li><%= link_to "Lista siniestro", siniestros_path%></li>
                </ul>
              </div>
            </li>
          </ul>
        <% else %>
          <li><%= link_to "Registrar nuevo usuario", new_usuario_registration_path %></li>
        <% end %>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Cuenta<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "Editar cuenta", edit_usuario_registration_path %></li>
                <li><%= link_to "Cerrar Sesión", destroy_usuario_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>
        </ul>
      <% else %>
        <li><%= link_to "Iniciar sesión", new_usuario_session_path %></li>
      <% end %>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Catálogo<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "Usuarios", operarios_path %></li>
              <li><%= link_to "Clientes", clientes_path %></li>
              <li><%= link_to "Proveedores", provedors_path%></li>
            </ul>
          </div>
        </li>
      </ul>
    </ul>

    <!-- Navbar-->
    <ul class="right hide-on-med-and-down">
      <% if usuario_signed_in? %>
        <% if @c_user.asesor? %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Sinestros<i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><%= link_to "Registrar nuevo usuario", new_usuario_registration_path %></li>
        <% end %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Catálogos<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Cuenta<i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <li><%= link_to "Iniciar sesión", new_usuario_session_path %></li>
      <% end %>
      
    </ul>
  </div>
</nav>