<table id="tablaSiniestros">
	<thead>
		<tr>
			<th>No Siniestro</th>
			<th>Cliente</th>
			<th>Automovil</th>
			<th>Aseguradora</th>
			<th>Ingreso</th>
			<th>Salida</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<%@siniestros.each do |s| %>
		<tr>
			<td><%= s.noOrden %></td>
			<td><%= s.cliente.Nombre %></td>
			<td><%= s.auto.Marca + ' ' + s.auto.Modelo + ' ' + s.auto.Anio %></td>
			<td><%= s.aseguradora.nombre %></td>
			<td><%= s.fechaEntrada %></td>
			<td><%= s.fechaSalida %></td>
			<td>
				<%= link_to siniestro_path(s) do %>
                	<i class="material-icons">drive_eta</i>
                <% end %>
                <% if s.report_dano.nil? %>
	                <%= link_to report_danos_path(s) do %>
	                	<i class="material-icons">assignment</i>
	                <% end %>
	            <%  else %>
	             	<%= link_to edit_report_dano_path(s, s.report_dano) do %>
	                	<i class="material-icons">assignment</i>
	                <% end %>
	            <% end %>
            </td>
		</tr>
		<% end %>
	</tbody>
</table>
